# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDEs
/.idea/
/*.iml

# Eclipse / STS
.classpath
.factorypath
.project
.settings/
.apt_generated
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
